.login{
  opacity: 1;
  top: 20px;
  position: relative;
  width: 240px;
  border-top: 2px solid black;
  height: 600px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  padding: 100px 40px 40px 40px;
  background: #262626;
  background: linear-gradient(45deg, #262626 0%, #1f222e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35394a', endColorstr='#1f222e',GradientType=1 );
}

body .login_title {
  color: #afb1be;
  height: 60px;
  text-align: left;
  font-size: 40px;
}

.login_fields{
    top: 250px;
    height: 208px;
    position: absolute;
    left: 0;

}

.login_field_User .icon{
  position: absolute;
  z-index: 1;
  left: 36px;
  top: 8px;
  opacity: .5;
}

.login_field_password .icon{
  position: absolute;
  z-index: 1;
  left: 36px;
  top: 45px;
  opacity: .5;
}

.login_fields input[type='password']{
  color: #ff4300 !important;
}

body .login_fields input[type='text'], body .login_fields input[type='password']{
  color: #afb1be;
  width: 190px;
  margin-top: -2px;
  background: #32364a;
  padding: 10px 65px;
  border-top: 2px solid #393d52;
  border-bottom: 2px solid #393d52;
  border-right: none;
  border-left: none;
  outline: none;
  font-family: 'Gudea', sans-serif;
}

body .login_fields__submit {
    position: relative;
    top: 235px;
    left: -50px;
    width: 80%;
    margin: auto;
}
body .login_fields__signit{
    position: relative;
    top: 199px;
    left: 105px;
    width: 85%;
    margin: auto;
}

input[id="log"]{
    width:72%;
}



