body{
    margin: 0;
    font-family: "Helvetica", "Verdana", "Roboto", sans-serif;
}



canvas#boardgame{
    position: absolute;
    top:-80px;

//    z-index: 1;
}

.board{
    box-sizing: border-box;
    position: absolute;
    width: auto;
    height: auto;
    top:70px;
    left:300px;
    flex-flow: column wrap;
    background: transparent;
    border-radius: 10px;
    border: 10px solid #64af0e;
    display: block;
    cursor: none;

}

.back{
    position: absolute;
    top:80px;
    width: 2000px;
    height: 500px;
    background:aliceblue;
    z-index: -2;

}

.column{
    float: left;
    flex-flow: column wrap;
}
.cell{
    position: relative;
    display:block;
}


.elem{
    position:absolute;
    width: 60px;
    height: 60px;
    border: 1px solid #76cc14;
    background: radial-gradient(circle, transparent, transparent 20px, #64af0e 22px, #79d114 25px);
}

.front_elem{
    position: relative;
    width: 60px;
    height: 60px;
    border: 1px solid #76cc14;
    border-radius: 14px;
    background: radial-gradient(circle, transparent, transparent 20px, #64af0e 22px, #79d114 25px);
}

span[for="spanWin"]{
    display: inline-block;
    position: fixed;    
    top: 300px;
    left: 30%;
    line-height: 40px;
    font-size: 6.3rem;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
}


span[for="spanWin"]:hover{
    color: #ff4300;
    transition: all 250ms cubic-bezier(.4,.25,.3,1);

}

#time{
    display: block;
    border: 2px solid #1f222e;
    position: absolute;
    right: 50px;
    top: 20px;
    line-height: 40px;
    font-size: 1.3rem;
    font-weight: 900;
    text-transform: uppercase;
    pointer-events: none;
}

#currentTurn{
    display: block;
    position: absolute;
    left: 115px;
    bottom: 5px;
    line-height: 40px;
    font-size: 1.3rem;
    font-weight: 900;
    text-transform: uppercase;
    pointer-events: none;
}





