input[type=submit], input[type=button], label[for="new_game"]{
    border-radius: 50px;
    background: transparent;
    /*
    Alcuni bottoni prorebbero cambiare colore senza background
     */
    padding: 10px 50px;
    border: 2px solid #ff4300;
    color: #ff4300;
    text-transform: uppercase;
    font-size: 11px;

}


label[for="new_game"]{
    position: relative;
    display: inline-block;
    left: 5px;
    width: 65px;
    padding: 11px 65px ;
}
/*
Bottone Menu Registrazione
 */

input[type=submit][id="Confirm"]{
   width: 50%;
}


input[type=submit]:hover, input[type=button]:hover, label[for="new_game"]:hover{
    color: white;
    background: #3b4147;
    cursor: pointer;
    text-indent: 2px;
}



input[type=submit]:focus, input[type=button]:focus, label[for="new_game"]:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}


