
.format{
    opacity: 1;
    border-radius: 10px;
    top: 20px;
    position: relative;
    width: 300px;
    border-top: 2px solid black;
    height: 350px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    padding: 100px 40px 40px 40px;
    background: #262626;
    background: linear-gradient(45deg, #262626 0%, #1f222e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35394a', endColorstr='#1f222e',GradientType=1 );
}

.fields{
    color: #afb1be;
    font-size: 40px;
    top: 120px;
    height: 208px;
    position: absolute;
    left: 0;

}

input{
    color: #afb1be;
    width: 240px;
    background: #32364a;
    padding: 10px 70px;
    border-top: 2px solid #393d52;
    border-bottom: 2px solid #393d52;
    border-right: none;
    border-left: none;
    outline: none;
    font-family: 'Gudea', sans-serif;
}

input[type='password']{
    color: #ff6600 !important;
}

.confirm{
    position: relative;
    top:50px;
    left: 95px;
}


